
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Project Search</h4>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th>Select</th>
          <th>ProjectDesc</th>
          <th>Id</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects | async; let idx = index">
          <td><input type="radio" name="radiogroup" 
                value="project.Id"
                (change)="onSelectionChange(project)" [checked]="idx === 0"></td>
          <td>{{project.ProjectDesc}}</td>
          <td>{{project.Id}}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="passBack();" type="submit" class="btn btn-primary w-100">Select</button>
  </div>